version: '3.8'

services:
  # CrowdSec SPOA bouncer (built locally)
  spoa:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - crowdsec
    volumes:
      - sockets:/run/
      - templates:/var/lib/crowdsec-haproxy-spoa-bouncer/html/
      - lua:/usr/lib/crowdsec-haproxy-spoa-bouncer/lua/
      - geodb:/var/lib/crowdsec/data/
      - ./config/crowdsec-spoa-bouncer.yaml.local:/etc/crowdsec/bouncers/crowdsec-spoa-bouncer.yaml.local
    networks:
      crowdsec:
        ipv4_address: 10.5.5.254
    deploy:
      resources:
        limits:
          cpus: "4.0"
          memory: 250M

  # HAProxy with lf-file error templates (no Lua)
  haproxy:
    image: haproxy:3.0
    ports:
      - "9090:9090"
    volumes:
      - ./config/haproxy-lf-file-example.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./config/crowdsec.cfg:/etc/haproxy/crowdsec.cfg:ro
      # Mount the lf-file templates
      - ./examples/haproxy/errorfiles-lf/:/etc/haproxy/errors/:ro
      - sockets:/run/
      - templates:/var/lib/crowdsec-haproxy-spoa-bouncer/html/
      - lua:/usr/lib/crowdsec-haproxy-spoa-bouncer/lua/
    depends_on:
      - crowdsec
      - spoa
      - whoami
    restart: unless-stopped
    networks:
      - crowdsec

  # Test backend (whoami container)
  whoami:
    image: traefik/whoami:latest
    networks:
      - crowdsec
    command:
       - --port=2020

  # CrowdSec engine
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    restart: unless-stopped
    environment:
      - BOUNCER_KEY_SPOA=+4iYgItcalc9+0tWrvrj9R6Wded/W1IRwRtNmcWR9Ws
      - DISABLE_ONLINE_API=true
      - CROWDSEC_BYPASS_DB_VOLUME_CHECK=true
    volumes:
      - geodb:/staging/var/lib/crowdsec/data/
    networks:
      - crowdsec

volumes:
  lua:
    driver: local
  sockets:
    driver: local
  templates:
    driver: local
  geodb:
    driver: local

networks:
  crowdsec:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "10.5.5.0/24"
