#!/usr/bin/make -f

export DEB_VERSION=$(shell dpkg-parsechangelog | grep -E '^Version:' | cut -f 2 -d ' ')
export BUILD_VERSION=v${DEB_VERSION}-debian-pragmatic

%:
	dh $@

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	@make build

	@BOUNCER=crowdsec-spoa-bouncer; \
	PKG="crowdsec-haproxy-spoa-bouncer"; \
	install -m 755 -D "$$BOUNCER" "debian/$$PKG/usr/bin/$$BOUNCER"; \
	install -m 600 -D "scripts/_bouncer.sh" "debian/$$PKG/usr/lib/$$PKG/_bouncer.sh"; \
	install -m 640 -D "config/$$BOUNCER.yaml" "debian/$$PKG/etc/crowdsec/bouncers/$$BOUNCER.yaml"; \
	mkdir -p "debian/$$PKG/lib/systemd/system"; \
	BIN="/usr/bin/$$BOUNCER" CFG="/etc/crowdsec/bouncers" envsubst '$$BIN $$CFG' < "config/$$BOUNCER.service" > "debian/$$PKG/lib/systemd/system/$$BOUNCER.service"; \
	mkdir -p "debian/$$PKG/usr/lib/$$PKG/lua"; \
	mkdir -p "debian/$$PKG/usr/share/doc/$$PKG/examples"; \
	install -m 644 -D "config/crowdsec.cfg" "debian/$$PKG/usr/share/doc/$$PKG/examples/crowdsec.cfg"; \
	install -m 644 -D "config/haproxy.cfg" "debian/$$PKG/usr/share/doc/$$PKG/examples/haproxy.cfg"; \
	install -m 644 -D "lua/crowdsec.lua" "debian/$$PKG/usr/lib/$$PKG/lua/crowdsec.lua"; \
	install -m 644 -D "lua/utils.lua" "debian/$$PKG/usr/lib/$$PKG/lua/utils.lua"; \
	install -m 644 -D "lua/template.lua" "debian/$$PKG/usr/lib/$$PKG/lua/template.lua"; \
	mkdir -p "debian/$$PKG/var/lib/$$PKG/html"; \
	install -m 644 -D "templates/ban.html" "debian/$$PKG/var/lib/$$PKG/html/ban.html"; \
	install -m 644 -D "templates/captcha.html" "debian/$$PKG/var/lib/$$PKG/html/captcha.html"; \
	install -m 644 -D "templates/ban.tmpl" "debian/$$PKG/var/lib/$$PKG/html/ban.tmpl"; \
	install -m 644 -D "templates/captcha.tmpl" "debian/$$PKG/var/lib/$$PKG/html/captcha.tmpl"

execute_after_dh_fixperms:
	@BOUNCER=crowdsec-spoa-bouncer; \
	PKG="crowdsec-haproxy-spoa-bouncer"; \
	chmod 0644 "debian/$$PKG/lib/systemd/system/$$BOUNCER.service"
